<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
	{{>nav}}
	<div class="datadisplay">
		{{#ulist}}
			<div class="userbox">
				<img src={{picture}} class="userpic" />
				<div class="datadisplay">
					<h3>Name:</h3><p>{{name}}</p>
				</div>
				<div class="datadisplay">
					<h3>Phone:</h3><p>{{phone}}</p>
				</div>
				<div class="datadisplay">
					<h3>Email:</h3><p>{{email}}</p>
				</div>
			</div>
		{{/ulist}}
	</div>
</body>
</html>